---
- hosts: all
  become: yes
  tasks:
    - name: Update apt packages
      apt:
        update_cache: yes
        cache_valid_time: 3600
        upgrade: yes
        autoremove: yes
        autoclean: yes